[2015-08-07 03:17] bondah opened #1 "Groceries that take SNAP"
USDA web map: http://www.fns.usda.gov/snap/retailerlocator

Figure out how to scrape the dataset.

[2015-08-07 03:26] matikin9 opened #2 "Los Angles CalFresh offices / Restaurant Meals Program participants"
Not really in a useful format, but the data may be useful:

LA County DPSS - Restaurant Meals Program (for >60 yrs old, disabled, or homeless)
http://dpss.lacounty.gov/apps/files/download.cfm?file=2402&folder=249

CalFresh - local offices (map)
http://dpss.lacounty.gov/dpss/maps/maps.cfm?program=calfresh

[2015-08-07 03:31] bondah commented on #1
Found the download! Added the csv to the repository.

[2015-08-07 03:31] #1 closed, assigned to nobody

[2015-08-07 03:31] matikin9 commented on #1
Downloadable CSV by state at the bottom:

![image](https://cloud.githubusercontent.com/assets/1873072/9128234/0c312cda-3c7a-11e5-8dc9-dbb10c21fbea.png)

[2015-08-07 03:47] matikin9 opened #3 "Farmer's Markets that take EBT/CalFresh"
In map form, for all of California.
http://ecologycenter.org/fmfinder/

I pulled the raw json, we just need to filter for LA County.

[2015-08-07 04:56] joelwilson commented on #2
Someone wrote a [python script](https://github.com/codeforamerica/ebt-near-me/blob/gh-pages/scripts/get-all-the-data.py) for scraping the DPSS data. There is a [discussion about it](https://github.com/codeforamerica/ebt-near-me/issues/34) too.

[2015-08-09 22:15] JRHutson opened #5 "Last of Month."
Need way to integrate distribution schedules that include a distribution on the last Sat, Sun... of the month.

[2015-08-09 22:16] JRHutson commented on #5
Added section to truth table for Last days of the month. Updated entries in table and closed comments on Google Sheet.

[2015-08-09 22:16] #5 closed, assigned to nobody

[2015-08-11 17:36] tamarasophia opened #6 "Public Health Data"
-infant mortality rate
-0-5 infants and toddlers weight and development statistics

[2015-08-11 17:46] JRHutson commented on #6
Tamara- This would definitely be relevant. Are you familiar with what agency would be considered the authoritative source for data? CA Health Department? Federal Health and Human Services?

[2015-08-12 02:42] JRHutson opened #7 "SNAP Locations need to be Geocoded."
CSV of locations to use SNAP benefits needs to be Geocoded. See Read Me for Projection info. Save to Shapefile and GeoJSON.

[2015-08-12 04:26] JRHutson opened #8 "Unable to Join."
Was unable to join Census Block Group population totals to Census Block Group Shapefile. Find source of error and resolve.

[2015-08-12 18:46] JRHutson opened #9 "Need file for County Supervisor Districts."
Need file for County Supervisor Districts.

[2015-08-12 18:47] JRHutson commented on #9
Uploaded.

[2015-08-12 18:47] #9 closed, assigned to JRHutson

[2015-08-12 20:05] JRHutson opened #10 "Poverty Data."
Need to get info on population below the Federal Poverty Line. Should be able to download from the Census Bureau. 2010 Census data should be available at the Block level, but is 5yrs old. American Community Survey should have data from 2013, but will be broken down by Block Group.

[2015-08-12 20:07] JRHutson opened #11 "SNAP Benefit Usage."
Need to get info on population using Federal SNAP Benefits. Should be able to download from the Census Bureau. 2010 Census data should be available at the Block level, but is 5yrs old. American Community Survey should have data from 2013, but will be broken down by Block Group.

[2015-08-12 20:10] JRHutson opened #12 "Food Pantry Locations."
Once the Google Doc is done, locations need to be Geocoded and uploaded.

[2015-08-12 20:10] JRHutson commented on #12
Include 15 and 30min drive time areas.

[2015-08-12 20:52] JRHutson commented on #11
Could be included in this dataset that Andy suggested. http://thedataweb.rm.census.gov/ftp/sipp_ftp.html

[2015-08-13 01:06] MappingMary commented on #11
so what does this mean ?

On Wed, Aug 12, 2015 at 1:07 PM, Regan notifications@github.com wrote:

[2015-08-14 01:04] bondah commented on #8
I was able to join, but you have to move the csv file to another folder. ArcGIS can't handle the dashes in the github repo name for old school formats like csv. Maybe we should change the name to underscores?

[2015-08-14 01:09] machikoyasuda commented on #8
how to rename a repo:

https://help.github.com/articles/renaming-a-repository/

![screenshot 2015-08-13 18 08 50](https://cloud.githubusercontent.com/assets/3673236/9265315/5f2867d4-41e6-11e5-8ca6-8ca5e9ab9e7d.png)

[2015-08-14 03:03] JRHutson commented on #8
Bond, Are you getting data from the join? I'm working in Q-Gis and have been able to join the two all along. I just get null values for the data that should be coming from the CSV.
![image](https://cloud.githubusercontent.com/assets/10876900/9266473/5496aa96-41f6-11e5-9502-6daf952609a8.png)

[2015-08-14 04:06] JRHutson commented on #8
Should have given a better explanation of the problem from the beginning.

[2015-08-14 10:39] MappingMary commented on #8
This might sound stupid, but maybe there isn't a population in the census block that is giving you nulls.. I think that is Los Angeles National Forest ? thinking out loud..

[2015-08-14 12:19] bondah commented on #8
Are you using geo.id2? I just tried the join in QGIS and it shows the data after join.
![image](https://cloud.githubusercontent.com/assets/8827412/9273720/ba14b8e6-4254-11e5-9008-1d72320d31a6.png)

[2015-08-14 13:52] JRHutson commented on #8
That's what I was doing. And it definitely is more than isolated block groups with null values. Strangely, if I uncheck the option to cache the join layer in virtual memory the join works normally, but the application gets unstable.
<img width="905" alt="screen shot 2015-08-14 at 6 47 30 am" src="https://cloud.githubusercontent.com/assets/10876900/9275295/ef6743e6-4250-11e5-9720-aa88a42bd98f.png">

[2015-08-14 15:25] bondah commented on #8
I see you are joining on id2. Did you delete the header row? If you delete the header row and read in the csv, id2 comes in as type Double and then you can't join to the String geoid field in the shapefile. If you read it in direct from the GitHub folder and leave the second row of text, it comes in as a string. Alternatively, you can create a geoid_num field as type decimal (length 12) and copy o

[2015-08-14 16:13] JRHutson commented on #8
It's probably a field type issue. I'll try creating a new field as you suggested. Updating to the new Q-GIS version as well to avoid any issue from that.

[2015-08-14 20:02] JRHutson commented on #8
I finally got it to work after copying the column and pasting as formula result into a new column.

[2015-08-14 20:04] MappingMary commented on #8
Did you figure it out? curious did you first modify the fields you are trying to join because they are different so your right you would not get a descent join. create a new field for both attribute tables and you are going to match on the block level identification number  ..
![join1](https://cloud.githubusercontent.com/assets/11170368/9282970/e5a1d7ca-4284-11e5-8b46-eb957ecac173.JPG)

[2015-08-14 20:05] MappingMary commented on #8
i will have more time after Saturday, sorry. Saturday is my last day of school :)

[2015-08-14 20:10] JRHutson commented on #8
For some reason Q-Gis wasn't letting me edit the CSV so I had to edit it in Numbers. (Don't want to pay for Excel ) To get the field type to match I ended up having to pass it through two new fields. The first had a formula to add the leading "0" that was being removed when it was treated as a number. Once that was added, I copied and pasted the column into another column using "Paste Result" so t

[2015-08-14 20:24] #8 closed, assigned to nobody

[2015-08-15 05:12] MappingMary commented on #8
I C.. my experience with ARCMAP in regards to excel, typical csv is not used do to formatting issues (dates e.g) when it is being imported to be a db table (idk y and i haven't looked into it) . i usually save it as xls and i use the toolbox to do my conversion to excel to db table into the geocan.  I dont know Q-GIS and i would have no idea if the field calculator is the same set up as it is in A

[2015-08-16 16:22] JRHutson opened #13 "Trying to calculate population density."
Anyone have experience doing the area calculation in Q-Gis? I'm trying to add Population Density to the Census Block Group Shapefile and none of the data is making sense. According to what I can find online, the $area function should give you the area of the polygon in whatever units correspond to the layer's projection. The shape file is projected in feet, so I assume that means the output would

[2015-08-16 16:29] JRHutson opened #14 "Food Insecurity Data."
Andy posted this link on the Google Sheet.

http://map.feedingamerica.org/county/2013/overall/california/county/los-angeles

It looks like data is only available on a county level. If we can scrape data for counties in CA it could make an interesting comparison. Or we could compare to other cities of a similar size to LA.

[2015-08-16 16:32] JRHutson commented on #3
Nina, are you going to take care of filtering the data? Feel free to add the json to the repo if you don't have time and someone else can pick it up.

[2015-08-16 16:40] JRHutson opened #15 "Census Bureau SIPP Data."
Census Survey of Income and Program Participation.
http://thedataweb.rm.census.gov/ftp/sipp_ftp.html

Lots of datasets here and not a lot of info on what each of them contains. See if Andy or someone else at the Food Bank can give us guidance on what is relevant.

[2015-08-16 16:46] JRHutson opened #16 "Health Districts."
Need polygons of Health Districts in order to map LA County Public Health Data.

[2015-08-16 19:40] bondah commented on #13
The shapefile had the projection defined as CA State Plane Zone 5 feet, but was actually still in WGS84 Lat/Long. I set the projection back to WGS84 and then re-projected to CA State Plane Zone 5 feet. Should be good now. Calcs are run and look reasonable. See pull request.

[2015-08-17 19:25] #13 closed, assigned to nobody

[2015-08-17 19:26] JRHutson commented on #16
Found and Uploaded.

[2015-08-17 19:26] #16 closed, assigned to nobody

[2015-08-17 19:31] JRHutson commented on #6
Relevant Fact-sheet. Haven't found source for raw data. http://publichealth.lacounty.gov/mch/LACALC/ALC%20files/2009%20Factsheet.pdf

[2015-08-21 23:49] JRHutson opened #21 "Food Sources Cleanup."
Confirm Shapefile of WIC Locations is in correct projection. (WGA 1984 State Plane Zone V)
Reproject if not.
Upload GeoJSON Version as well.

[2015-08-21 23:53] JRHutson opened #22 "Additional Transportation Data."
Currently we have Rail and Bus lines from LA Metro. Need to add Bus Stop and Rail Station data points.

[2015-08-21 23:53] JRHutson commented on #22
Please upload both as a Shapefile and Geo-JSON.

[2015-08-21 23:55] JRHutson opened #23 "Additional Transportation Agencies."
Look for data sources for other transportation agencies besides LA Metro. I'm thinking of things like the Big Blue Bus in Santa Monica, Foothill Transportation in the SGV, etc...

If someone wants to look for additional agencies and create individual issues for each that can be assigned to people that would be helpful as well.

[2015-08-22 00:00] JRHutson commented on #6
There are additional datasets from the LA County Public Health Department. Some of these could be worth adding to what we already have in the repo.

http://www.publichealth.lacounty.gov/ha/LACHSDataTopics2011.htm

[2015-08-22 00:18] JRHutson commented on #14
More granular Food Insecurity Data was included in the LA County Public Health surveys already in the repo.

[2015-08-22 01:06] machikoyasuda opened #24 "Organizer / Project Lead checklist for Thurs. 9/3 Food Data Night"
**Project Lead**:
@JRHutson

**Organizers**:
@cityhubla
@csterling
@machikoyasuda

**Mentors**:
@patriciarealini - GitHub / Front-end / JavaScript

**Small Group Leaders**:
- data processing/analyzing - @csterling
- github office hours / data visualizing - @machikoyasuda
## Possible small groups:
- `OpenStreetMap` Office Hours: training + lead
- GitHub Office Hours: One-on-one training to clone, p

[2015-08-22 16:14] JRHutson commented on #24
I should be getting a list of questions from Andy on Monday. We can use that as a guide for how many groups we expect to divide people into. It should be 2-3 questions each department at the Food Bank would want to answer with the data.

[2015-08-22 17:30] chanbot5000 commented on #24
I can lead data processing/analyzing

On Sat, Aug 22, 2015 at 9:14 AM, Regan notifications@github.com wrote:

[2015-08-24 17:19] machikoyasuda commented on #24
@patriciarealini @LearningNerd - can you come to the data night? would love to have y'all there + mentor/lead project sessions.

[2015-08-25 01:25] JRHutson commented on #10
Source for definition of SNAP eligibility. http://www.fns.usda.gov/snap/eligibility

[2015-08-25 03:54] JRHutson commented on #24
Going to start adding the Questions from Andy to the Repo. The night of, I'm planning to float. Appreciate the organization support.

[2015-08-25 03:58] JRHutson opened #25 "Where are all the locations that accept SNAP in LA?"

[2015-08-25 03:59] JRHutson commented on #25
Could be combined with where are all eligible people questions.

[2015-08-25 03:59] JRHutson opened #26 "Where are all the people who are SNAP eligible in Los Angeles?"
Could be combined with the SNAP location question.

[2015-08-25 04:01] JRHutson opened #27 "Where are the biggest and/or the most donations coming from? Does that change throughout the year?"
Andy has a dataset of individual donations from the past year. He is getting final approval that it is ok to publish. =)

[2015-08-25 04:03] JRHutson opened #28 "What agencies are distributing the most pounds of food? Does that change throughout the year?"
Also, does the distribution match need level of need based on poverty data?

[2015-08-25 04:04] JRHutson opened #29 "Where is the area of greatest need that doesn't have an agency within 5 miles?"

[2015-08-25 04:05] JRHutson opened #30 "Where should we open new sites / send the mobile food pantry?"
Possibly tied to question about need vs pantry locations.

[2015-08-25 04:06] JRHutson opened #31 "Where should we be raising awareness of programs?"
Where is the greatest disparity between program qualification and participation?

[2015-08-25 04:07] JRHutson opened #32 "What parts of the County are farthest from a Food Pantry or other SNAP facility?"

[2015-08-25 04:10] JRHutson opened #33 "Which Congressional districts have the greatest level of need?"
Are they the same districts where the most food goes?

[2015-08-25 04:11] JRHutson opened #34 "Which Congressional Districts have the greatest number of donations/dollars donated?"

[2015-08-25 04:14] JRHutson opened #35 "Which CA Legislative Districts have the greatest number of donations/dollars donated?"

[2015-08-25 04:14] JRHutson opened #36 "Which CA Legislative Districts have the greatest level of need?"
Are they where the most pounds of food goes?

[2015-08-25 04:15] JRHutson opened #37 "Which County Board of Supervisors Districts have the greatest level of need?"
Are they where the most food goes?

[2015-08-25 04:16] JRHutson opened #38 "Which County Board of Supervisors Districts have the most donations/dollars donated?"

[2015-08-25 04:20] JRHutson opened #39 "How many agencies are within a 10min walk of public transit?"

[2015-08-25 05:26] JRHutson commented on #32
Possible tweak would be "Where in the county has the greatest population the furthest distance from a food bank?"

[2015-08-25 05:35] JRHutson opened #40 "What are the primary demographics of the community surrounding each agency?"

[2015-08-25 20:22] JRHutson commented on #14
Closing since data was included in the repo under another topic.

[2015-08-25 20:22] #14 closed, assigned to nobody

[2015-08-26 22:33] vykster commented on #23
@thekaveman posts transportation data for Big Blue Bus on the City of Santa Monica Github https://github.com/cityofsantamonica

[2015-08-26 22:36] vykster commented on #6
@JRHutson @tamarasophia many of these datasets fall under the jurisdiction of the California Health & Human Services Agency (CHHS), the have a Socrata data portal at https://chhs.data.ca.gov/.

Let me know if you can't find what you need here, as I'm the Cities Ambassador for Los Angeles as part of the Health Data program, and I can reach out to the project team at the state and send them requests

[2015-08-26 23:33] JRHutson commented on #6
Vyki,
   Thanks for the help. I'm not seeing anything in the current datasets that seems applicable to what we're assembling for this project. If they have data on food related health issues, such as diabetes or obesity, it would be great to get connected with them. Some of the datasets Tamara mentioned would be beneficial as well if they have data on early childhood development and infant mortali

[2015-08-27 00:58] thekaveman commented on #23
For Big Blue Bus data, http://gtfs.bigbluebus.com is the primary resource.

Here we have the current _static_ GTFS file, as well as the current _dynamic_ GTFS data (e.g. vehicle positions and trip updates/schedule adherence) updated about every minute.

Our [GitHub repository for GTFS](https://github.com/CityofSantaMonica/GTFS) serves as more of an archive.

[2015-08-27 01:55] JRHutson commented on #23
Thanks Kaveman! The static files are what we need for this project but I'm sure people at Maptime would be interested in the dynamic feed.

[2015-08-27 20:29] JRHutson commented on #22
Uploaded Bus Stops and Rail Stations in both ShapeFile and GeoJSON.

[2015-08-27 20:29] #22 closed, assigned to nobody

[2015-08-27 20:31] JRHutson opened #41 "Update Projection and format of Metro Rail and Bus Lines."
Need to update projection of Shapefiles for LA Metro Rail and Bus Lines in the Transportation folder. Also, add a copy in GeoJSON format. For simplicity, we should also make a unified Bus Line file rather than having them split into separate files.

[2015-08-28 19:51] JRHutson opened #42 "Geocode Food Markets"
Geocode CSV of Food Markets in Food Sources Folder. Upload Shapefile and GeoJSON.

[2015-08-28 19:52] JRHutson opened #43 "Geocode SNAP Locations"
Geocode CSV of SNAP locations in the Food Sources folder. Upload Shapefile and GeoJSON.

[2015-08-28 21:02] chanbot5000 commented on #42
The CSV in this folder is for Market Violations. Is that correct? @JRHutson

[2015-08-28 21:40] JRHutson commented on #42
That's correct but I think you already figured that out.

[2015-08-28 21:58] chanbot5000 commented on #43
geocoded csv into shp. converted shp to geojson.

[2015-08-28 21:58] #43 closed, assigned to chanbot5000

[2015-08-29 01:58] patriciarealini commented on #24
@machikoyasuda i'll be there!

[2015-08-31 05:43] johnhickok commented on #42
Finally added a field to health districts. Github command line works.

_Trying paperless..._

John Hickok, PLS, GISP
Los Angeles County, Department of Public Works
Contact: jhickok@dpw.lacounty.gov, 626-824-8870

On Fri, Aug 28, 2015 at 1:40 PM, Regan notifications@github.com wrote:

[2015-08-31 05:47] johnhickok commented on #42
PS - next meeting on Thursday Night isat ELACC, 530 South Boyle Ave - got
tips on where to park over there?

_Trying paperless..._

John Hickok, PLS, GISP
Los Angeles County, Department of Public Works
Contact: jhickok@dpw.lacounty.gov, 626-824-8870

On Sun, Aug 30, 2015 at 9:43 PM, John Hickok jhickok2011@gmail.com wrote:

[2015-08-31 13:43] JRHutson commented on #42
@johnhickok Were you able to make a commit? I'm not seeing one on this end.

[2015-08-31 18:12] machikoyasuda commented on #42
@cityhubla what is the parking like around ELACC?

@johnhickok there should be street parking along Boyle Av, next to Hollenbeck Park:

![screenshot 2015-08-31 11 10 52](https://cloud.githubusercontent.com/assets/3673236/9586342/17a432e6-4fd1-11e5-9729-0d139cfe2c52.png)
![screenshot 2015-08-31 11 10 57](https://cloud.githubusercontent.com/assets/3673236/9586343/17aadc90-4fd1-11e5-910d-c92d33464730

[2015-08-31 18:15] cityhubla commented on #42
@machikoyasuda @johnhickok, There is plenty of street parking, you should be able to find a spot close by.

[2015-08-31 20:37] matikin9 commented on #3
Uploaded the original JSON dataset (all of CA) as well as a JSON file containing the data for just LA County.  We still need a shapefile.

[2015-08-31 20:41] JRHutson commented on #3
It is in JSON form rather than GeoJSON. The Latitude and Longitude are stored in two of the fields so it should be easy to Geocode. Then we can add GeoJSON and Shapefile.

[2015-08-31 21:36] matikin9 commented on #3
I was able to convert it to CSV format so I've uploaded that file as well.

[2015-09-01 01:43] JRHutson commented on #3
Geocoded locations from the CSV and uploaded both GeoJSON and Shapefile.

[2015-09-01 01:43] #3 closed, assigned to nobody

[2015-09-01 02:44] johnhickok commented on #42
Got no error message.
On Aug 31, 2015 6:43 AM, "Regan" notifications@github.com wrote:

[2015-09-01 02:55] JRHutson commented on #42
@machikoyasuda GitHub isn't showing a commit by John. He's using command line. Could you help sort out what the issue it?

[2015-09-01 05:20] lafoodbank commented on #30
Just to clarify this slightly, we'd be looking for the greatest disparity between program qualification and pantry locations.  This would also serve as the answer to where we should raise awareness about PROGRAMS.
For the question about raising awareness, we'd likely focus on raising awareness of THE FOOD BANK.  In other words, we'd target potential donors.  For this we might look at the highest i

[2015-09-01 05:21] lafoodbank commented on #28
We've been told that agency poundage distribution doesn't change much over time... and in a totally unrelated matter, pulling the data seems to be really hard for people :)  So we can start with an analysis based on current poundage

[2015-09-01 05:51] lafoodbank commented on #15
I cannot for the life of me figure out how to open a *.DAT file extension.  With any native program it just appears as random digits.
I might recommend looking at http://healthpolicy.ucla.edu/chis/data/Pages/public-use-data.aspx for program participation data from the AskCHIS NE portal, but of course the website is on 404 this evening.  I'll try again tomorrow

[2015-09-01 06:06] lafoodbank opened #48 "Can we map LA's "Food Deserts"?"
The USDA defines Food Deserts as:
1. They qualify as "low-income communities", based on having: a) a poverty rate of 20 percent or greater, OR b) a median family income at or below 80 percent of the area median family income; AND
2. They qualify as "low-access communities", based on the determination that at least 500 persons and/or at least 33% of the census tract's population live more than one

[2015-09-01 06:07] lafoodbank opened #49 "How many food distribution agencies are located in Food Deserts?"
The USDA defines Food Deserts as:
1. They qualify as "low-income communities", based on having: a) a poverty rate of 20 percent or greater, OR b) a median family income at or below 80 percent of the area median family income; AND
2. They qualify as "low-access communities", based on the determination that at least 500 persons and/or at least 33% of the census tract's population live more than one

[2015-09-01 06:19] lafoodbank opened #50 "Where are all the places in Los Angeles that accept EBT payments?"
Locations by zip code can be found here

https://drive.google.com/file/d/0B4a5cBepn-h5TndENnBLT1ByNHM/view?usp=sharing

[2015-09-01 13:27] JRHutson commented on #15
@lafoodbank I was able to find income information along with some data on households receiving SNAP Benefits through the American Community Survey dataset. The data is in a format that only excel will open currently. Going to convert to CSV and upload. I'll share the excel only files with you through dropbox. Take a look before you spend more time searching.

[2015-09-01 13:36] JRHutson commented on #28
Sounds good. The geographic distribution of poundage will still be interesting to look at.

[2015-09-01 13:42] JRHutson commented on #50
@lafoodbank Do you know where that list came from? It seems incomplete or limited to a specific part of LA. Only around 15 pages of data. It would be great if we could get a more complete list.

[2015-09-01 15:40] lafoodbank commented on #50
Here's the source:  https://www.ebt.ca.gov/caebtclient/cashlocationSearch.recip
If you just filter by LA County the results show all the locations, but now that I look at the list it does look constrained to only a part of LA

[2015-09-01 15:42] lafoodbank commented on #50
List of restaurants, but in PDF list form...
https://dpss.lacounty.gov/dpss/restaurant_meals/pdf/Restaurants_list.pdf

[2015-09-01 16:09] JRHutson commented on #50
![screen shot 2015-09-01 at 9 07 21 am](https://cloud.githubusercontent.com/assets/10876900/9609547/046cccb6-5089-11e5-8e37-843b86731f21.png)
It looks like the website limits the number of results returned. We might have to write a script to pull one zip-code at a time. @matikin9 any interest in tackling this?

[2015-09-01 18:28] JRHutson commented on #24
I've gotten pretty good with the Data Ferret utility. I can also be on-call for any critical requests for additional datasets.

[2015-09-01 18:37] machikoyasuda commented on #24
![image](https://cloud.githubusercontent.com/assets/3673236/9613018/ce7a78f0-509d-11e5-9957-38bf1ef53cbb.png)

[2015-09-01 18:38] machikoyasuda commented on #24
![ferret](https://cloud.githubusercontent.com/assets/3673236/9613035/e75b04c0-509d-11e5-8ece-45ddfc4c84c2.gif)

[2015-09-01 18:56] JRHutson commented on #24
@machikoyasuda That's pretty much the process. You have to earn the Ferret's respect before it will give you your dataset.

[2015-09-01 19:04] johnhickok commented on #15
Dat files tend to be generic. Tried Notepad++?
On Aug 31, 2015 10:51 PM, "lafoodbank" notifications@github.com wrote:

[2015-09-01 19:33] JRHutson commented on #15
Looking back at the available datasets, the most recent is from 2008. I think the American Community Survey is going to be a better source for data on program participation. I've been able to find data on SNAP and other benefits received.

[2015-09-02 02:43] JRHutson commented on #49
For that definition, do we know what area the "area median family income" is based on? Is it County, State...

[2015-09-02 05:22] lafoodbank commented on #49
From this link it would seem that the area is defined as a Census Tract or FIPS Tract
http://apps.ams.usda.gov/fooddeserts/fooddeserts.aspx

There's also a bunch of potentially useful API here:
http://www.ers.usda.gov/developer/geospatial-apis.aspx

[2015-09-02 05:23] lafoodbank commented on #26
Not sure if this is useful, but here's a site that connects SNAP benefits to ArcGIS
http://gis.ers.usda.gov/arcgis/rest/services/snap_benefits/MapServer

[2015-09-02 05:24] lafoodbank commented on #25
Not sure if this is useful, but here's a site that connects SNAP benefits to ArcGIS
http://gis.ers.usda.gov/arcgis/rest/services/snap_benefits/MapServer

[2015-09-02 07:29] MappingMary commented on #25
Hi Regan,  sorry I suck I cant figure out Git. I will get there early
Thursday to help you in anyway like clean your laptop monitor. I would also
like to thank you for being a wonderful leader!
Best,
Mary

On Tue, Sep 1, 2015 at 10:24 PM, lafoodbank notifications@github.com
wrote:

[2015-09-02 14:02] JRHutson commented on #49
I'm still confused on how to actually determine if a tract is considered a Food Desert. They are defining deserts at a Census Tract level, so whatever area they are comparing an individual tract to must be larger. Otherwise they would just be comparing each tract to itself.

In poking around the site and looking at their web map, I happened to find a link to download their raw data. Added it to th

[2015-09-02 14:08] JRHutson commented on #26
Those could be very useful if they are broken down into more detailed units than by County. We'll have to take a look.

[2015-09-02 14:36] JRHutson commented on #25
@mappingmary are you trying to use the command line? I could never remember all the details. Switched to the desktop app and in much less frustrated. I can show you on Thurs if you're interested.

[2015-09-02 19:43] WalkieTalkieLA commented on #48
Yes, it looks like the USDA provides data on "Food Deserts" through their Food Access Research Atlas Data file, and archived Food Desert locator available here: http://www.ers.usda.gov/data-products/food-access-research-atlas/download-the-data.aspx

Another datasource that might also be helpful for comparison is the Centers for Disease Control and Prevention's data on the modified Retail Food Envi

[2015-09-02 20:03] JRHutson commented on #48
@WalkieTalkieLA Thanks for the info. The archived data file you mentioned from USDA has been added to the repo. The CDC data looks awesome. Have to take a look at that as well.

[2015-09-02 20:15] JRHutson commented on #48
Uploaded the table of mRFEI scores as well.

[2015-09-03 02:38] JRHutson commented on #49
Relevant Datasets:
FoodDeserts.csv - Raw data from USDA, Will have to compute whether each tract qualifies
FoodDesert.xls - Has info on what's in the cvs
Census Tract Outlines

[2015-09-03 02:39] JRHutson commented on #48
Combine effort with Issue #49

[2015-09-03 02:42] JRHutson commented on #40
Relevant Datasets:
Age, Race and Income Date in Demographics Folder
Census Tract and Block Group Outlines (Depending on how data is broken down)

[2015-09-03 02:44] JRHutson commented on #39
Relevant Datasets:
Food Pantry Locations
Metro Bus/Rail Stop locations
Bus Stop locations from other agencies

[2015-09-03 02:44] JRHutson commented on #39
Could use County Road Network if we can get it.

[2015-09-03 02:46] JRHutson commented on #38
Relevant Datasets:
Supervisor District Outlines
Donations by Zip Code
Zip Code Outlines

[2015-09-03 02:48] JRHutson commented on #37
Relevant Datasets:
Supervisor District Outlines
Poverty Demographics
Pounds distributed to Agencies

[2015-09-03 02:50] JRHutson commented on #32
Relevant Datasets:
Census Block Group Outlines
Pantry Locations
Population By Block Group
Population in Poverty By Block Group

[2015-09-03 02:52] JRHutson commented on #31
Relevant Datasets:
Receipt of SNAP by Poverty Status
Census tract Outlines

[2015-09-03 02:52] JRHutson commented on #31
Possible extra question... Is there a certain demographic that characterizes these areas?

[2015-09-03 02:54] JRHutson commented on #30
Combine effort with Issues #31 and #32 .

[2015-09-03 02:54] JRHutson commented on #29
Combine with #30, #31 and #32

[2015-09-03 02:55] JRHutson commented on #28
Relevant Datasets:
Agency Locations
Poundage Data

[2015-09-03 02:58] JRHutson commented on #27
Relevant Datasets:
Zip Code Outlines
Block Group Outlines
Income by Block Group
Donations by Zipcode

Look at relation between donations and wealth in particular areas.

[2015-09-03 03:35] JRHutson commented on #26
Definition of SNAP eligibility - http://www.fns.usda.gov/snap/eligibility
Honestly I'm not sure that data is available for us to quantify this based on the specific SNAP criteria. With datasets split up by topic, it will be hard to say how many people meet all criteria. Might have to just go with Poverty Status definition from ACS.
Relevant Datasets:
Census Tracts
Poverty Status by Household size

[2015-09-03 03:36] JRHutson commented on #11
Uploaded Data on SNAP benefit receipt to repo.

[2015-09-03 03:36] #11 closed, assigned to nobody

[2015-09-03 03:36] JRHutson commented on #10
Uploaded Data

[2015-09-03 03:36] #10 closed, assigned to nobody

[2015-09-03 07:49] MappingMary opened #51 "Regan: anyone: Question about Git tutorial"
Where can i find the tutorial Patricia create on how to use Git? I feel like i can help out more, i feel awful.. if anything maybe someone can point me in the right direction tomorrow. Thank you in advance.

[2015-09-03 13:39] JRHutson commented on #51
@MappingMary here's Partricia's presentation from the GitHub night. http://slides.com/patriciarealini/get-git-got#/

I still struggle with the Command Line. I can show you the desktop app tonight.

[2015-09-03 16:01] lafoodbank opened #52 "Where are all the authorized WIC retailers in Los Angeles?"
https://drive.google.com/file/d/0B4a5cBepn-h5c0xTNU9rdHBEREU/view?usp=sharing

[2015-09-03 16:02] lafoodbank opened #53 "Where are all the healthcare facilities in Los Angeles?"
https://drive.google.com/file/d/0B4a5cBepn-h5dDlha1ZiTWI0WWc/view?usp=sharing

[2015-09-03 19:18] JRHutson commented on #52
Geocoded List and Uploaded.

[2015-09-03 20:20] JRHutson commented on #53
Geocoded locations uploaded under Health Resources

[2015-09-03 22:41] JRHutson opened #54 "Where are the most recipients of WIC benefits."
Data should be available through www.healthycity.org. Need to figure out how to do a batch output by ZipCode.

[2015-09-04 01:15] michaelkirk commented on #39
related to #22 #12

[2015-09-04 01:34] lauraerinmann commented on #54
Can you clarify what you mean by batch output?

[2015-09-04 01:42] JRHutson commented on #54
Looking for a way to output the data to excel or CSV for the whole county so that we can manipulate it.

[2015-09-04 03:57] kmw commented on #48
enteractive map
http://www.ers.usda.gov/data-products/food-access-research-atlas/go-to-the-atlas.aspx
enter los angeles in the search field (top left corner)
see 2 screen captures (below)
![foodaccessresearchatlaslacitymicro](https://cloud.githubusercontent.com/assets/702795/9676296/30ed994a-527e-11e5-9156-a225aab8fb59.png)
![foodaccessresearchatlaslacitymacro](https://cloud.githubusercontent.com/

[2015-09-04 20:58] MappingMary commented on #51
i think im gitting the hang of it .. sorry if im creating messes. Im going to create another branch and name it appropriately with a summary and description. Then you can delete the "mary branches" so that everything is more uniform. Thank you!!

[2015-09-04 23:11] lafoodbank opened #56 "Issues Consolidation"
Thank you everyone who attended last night Maptime/LA !!

If you would like to continue working on these data sets for the LA Food Bank and others, we would suggest consolidating all issues under 1 of 3 categories of most use to our organization:
1.  What areas of LA have the lowest program participation with the highest need for food assistance (i.e. lowest income)?
2.  Where are all the location

[2015-09-07 21:37] #41 closed, assigned to nobody

[2015-09-08 04:12] johnhickok commented on #23
What size region? Los Angeles County only, or larger? A few links are available to get started, but some calling around may be needed. Creating static data based on descriptions can work, depending on the need. See http://www.apta.com/resources/links/unitedstates/Pages/CaliforniaTransitLinks.aspx, https://en.wikipedia.org/wiki/List_of_small_Southern_California_transit_agencies

[2015-09-08 04:18] johnhickok commented on #50
Let me try this - first step is to convert from pdf to database before geocoding.

[2015-09-08 06:09] JRHutson commented on #23
John,
    That Wikipedia list looks awesome. I've been wondering whether we should include the actual transportation data in the Repo or just links in a readme file. Many of the datasets are huge and may not be useful to all but a minority of users. Any thoughts?

[2015-09-08 06:10] JRHutson commented on #23
Oh, and scope wise we're wanting to focus on LA County.

[2015-09-08 06:25] johnhickok commented on #50
Just for fun, extracted all the data from Participating Restaurants as text (https://dpss.lacounty.gov/dpss/restaurant_meals/pdf/Restaurants_list.pdf); will run some Python to convert into delimited, geocodable text. How many are using the batch geocoders and data provided by L.A. County? http://egis3.lacounty.gov/dataportal/2014/06/16/2011-la-county-street-centerline-street-address-file/. No limi

[2015-09-08 23:18] JRHutson commented on #51
@MappingMary Just to confirm, I can delete the two "Mary" branches at this point. Correct?

[2015-09-08 23:24] JRHutson commented on #56
Thanks Andy,
    Those seem like the questions with both the most interest and most need surrounding them. I'll take some time to redo the labeling convention for the repo and orient it to those questions so that we can easily identify all the related questions.

[2015-09-09 05:06] johnhickok commented on #50
Added EBT_Restaurants_list (semicolon delimited text) and EBT_Restaurants_info to food_bank_data_bank\datasets\FoodSources\SNAP Locations. Hope this is the right folder. Ready for geocoding.

[2015-09-09 05:41] JRHutson commented on #50
@lafoodbank refresh my memory. EBT is not a separate program but a method of using SNAP benefits, correct?

[2015-09-09 05:50] lafoodbank commented on #50
Correct!

On Tue, Sep 8, 2015 at 10:41 PM, Regan notifications@github.com wrote:

##

_Andy Morris_
Dir. of Marketing & Communications

Los Angeles Regional Food Bank
1734 East 41st Street
Los Angeles, California 90058
mobile 323.855.3618

amorris@lafoodbank.org

www.lafoodbank.org

##

_Our mission is to mobilize resources to fight hunger in our community.
Learn more at *_lafoodbank.org\* http://

[2015-09-09 15:33] JRHutson commented on #50
@johnhickok That would be the correct folder, but I'm not seeing the files there. Are you sure it got pushed properly.

[2015-09-09 19:00] johnhickok commented on #50
Will check when I get home. The system said the commits were successful. Will others be able to geocode the txt once it's uploaded?

[2015-09-09 19:16] JRHutson commented on #50
Once it's up on the repo, anyone who wants to will be able to do the geocoding.

[2015-09-10 02:59] johnhickok commented on #50
Done.

[2015-09-10 07:48] cityhubla commented on #56
Thanks Andy! (@lafoodbank)

Couple thoughts, these questions could be a map with three layers of information (defined by the questions)  as a beginning for everyone to add on to or work on their own. We can build the map here on the maptimeLA github and it could be forked over to the foodbank to be hosted there once we get it to a point where it could be used. I can build a simple map for us to be

[2015-09-10 22:52] patriciarealini commented on #51
@mappingmary with I'd seen this sooner! Don't be afraid to slack/text/email me questions ANYTIME. Also you can check out the cheat sheet I made at https://github.com/maptimeLA/git_your_map_here/gitcheatsheet.md and at the bottom is a list of resources including the presentation & some walkthroughs that are great practice.

[2015-09-10 22:53] patriciarealini commented on #51
@mappingmary wish I'd seen this sooner! Don't be afraid to slack/text/email me questions ANYTIME. Also you can check out the cheat sheet I made at https://github.com/maptimeLA/git_your_map_here/blob/master/gitcheatsheet.md and at the bottom is a list of resources including the presentation & some walkthroughs that are great practice.

[2015-09-22 00:25] MappingMary opened #57 "Datasets"
i updated my dataset folders with the newest commits.

i added all the shapefiles to arcmap and some of the data was not displaying.

 i noticed one shapefile was in a different projection and i'm not sure if all the data in the food sources folder are geocoded.

Has anyone had this issue or has it been solved ?
I  dont want to do the work twice if someone took care of the issue.

I was trying to

[2015-09-22 00:46] JRHutson commented on #57
Give me a minute and I'll take a look. I've been caught up with the webmap, so it's been a while.

[2015-09-22 01:05] JRHutson commented on #57
Food Sources were all geocoded other than the Market Violations. They were supposed to be in State Plane Zone V, but I haven't tested.

[2015-09-22 01:08] JRHutson commented on #57
I need to re-sync myself. The Market Violations were coded as well. Not sure why it's not showing up for you. Are you browsing it in ArcMap or My Computer? Some of them had to be zipped, so it wouldn't show up within ArcMap until it's extracted. Compare what's shown on the GitHub site to what you're seeing on your computer to be sure.

[2015-09-22 02:30] MappingMary commented on #57
ArcMap

[2015-10-07 19:53] #24 closed, assigned to nobody

[2015-10-07 19:56] machikoyasuda opened #59 "Map idea: Farmers Markets that accept WIC / EBT"
## Your challenge:
1. Map all the Farmers Markets. Deploy this map. Data:
   https://github.com/maptimeLA/food_bank_data_bank/tree/master/datasets/FoodSources/CA-WIC-Farmer-Markets https://github.com/maptimeLA/food_bank_data_bank/tree/master/datasets/FoodSources/CalFreshFarmersMarkets
2. Categorize Farmers Markets by WIC / EBT - accepting or not.
3. Draw City Council Boundaries.
4.  :hash: **Analy

[2015-10-07 21:29] songcy commented on #59
I can take this one!

[2015-10-07 21:30] machikoyasuda commented on #59
Awesome @songcy  - I invited you to the MaptimeLA GitHub group. I believe if you accept that email confirmation, I can assign you to this issue :) :apple:

[2015-10-09 16:28] JRHutson commented on #59
@songcy We're doing a project night next week for Maptime. Would you be interested in having some collaborators and turning this into a project for that night or were you looking to tackle it on your own? I'm finishing up a project that I wanted to tackle myself as a learning experience, so I understand either way.
   Regan

[2015-10-15 19:01] songcy commented on #59
@JRHutson Hey, I'm sorry. I didn't anticipate how swamped I'd be with exams and assignments this past week. I was planning on going to the meeting tonight, so I should be there a bit late. Go ahead start on this too! I don't mind at all. If anything I'm sure I could learn something from you.

[2015-10-15 19:11] JRHutson commented on #59
Tonight we'll be focusing on retail locations that accept SNAP, so the Farmers Markets will be an additional resource to consider in the future. See you there tonight.

[2017-09-01 15:28] #42 closed, assigned to nobody

[2017-11-07 17:51] #59 closed, assigned to nobody